// $colorA: #4b4e53;
$colorA: black;
// $colorB: #fdf4e3;
// $colorB: #F2E450;
$colorB: #f5e41b;
$colorC: rgb(80, 134, 169);
$colorD: #D3E3FA;
$colorE: #50AAF3;

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', serif;
  cursor: default;
}

main {
  color: $colorA;
}

//* NAVBAR

.nav-bar {
  display: flex;
  justify-content: flex-end;
  z-index: 11;
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  color: black;
}

.nav-bar li {
  font-size: 30px;
  list-style: none;
  text-transform: capitalize;
  padding: 3px 15px 3px 3px;
  text-decoration: none;
  font-family: 'Helvetica', serif;
  color: black;
  cursor: pointer;
  transition: .2s;
}

@media (max-width: 480px) {
  .nav-bar li {
    font-size: 12px;
    padding: 1px 5px 1px 1px;
  }
}

.projects :hover,
.experience :hover,
.skills :hover,
.events :hover,
.contact :hover {
  color: $colorB;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  transition: .2s;
  stroke: black;
  stroke-width: .2px;
}


a {
  text-decoration: none;
}

li a {
  color: inherit;
}

.home-button {
  position: fixed;
  left: 0;
}

.bi-emoji-smile-upside-down {
  font-size: 30px;
  margin: 5px 0 0 5px;
  transition: .2s;
}

.bi-emoji-smile-upside-down:hover {
  transform: rotate(180deg);
  stroke: none;
  stroke-width: none;
  transition: .3s;
}

.projects-section,
.experience-section,
.events-section,
.contact-section,
.about-section {
  display: flex;
}


.section-divider {
  height: 6px;
  background-color: black;
  margin: 0;
}

.section-divider-white {
  height: 6px;
  background-color: white;
  margin: 0;
  z-index: 10;
  position: relative; 
}



//* TITLE PAGE

.about-section {
  justify-content: center;
  flex-direction: column;
  background-color: $colorB;
  text-transform: uppercase;
  z-index: 1;
}

.title-wrapper {
  font-size: 100px;
  height: 100px;
  font-family: 'Helvetica', serif;
  font-weight: normal;
}

.bio-wrapper {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: normal;
  font-family: 'Helvetica', serif;
}

.about-section {
  height: 100vh;
  flex-grow: 1;
}

.title-section {
  // flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  position:fixed;
}

h1 {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-left: -0.09em;
}


@media (max-width: 480px) {
  .title-wrapper {
    font-size: 45px;
  }
}

.scroll-down-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 10px;
  height: 100vh;
}


.heading {
  text-transform: uppercase;
  margin-bottom: 6vw;
  padding-top: 4vh;
  width: 100%;
  font-size: 100px;
  display: flex;
  justify-content: center;
  cursor: default;
}

@media (max-width: 480px) {
  .heading {
    font-size: 30px;
  }
}

//* PROJECTS

.projects-section {
  // border-top: 6px solid black;
  background-color: $colorE;
  flex-direction: column;
  font-family: 'Helvetica', serif;
  // color: $colorA;
  color: white;
  position: relative; 
  z-index: 10;
}

.project-wrapper {
  display: flex;
}


.project-bio {
  font-size: 1.6vw;
  font-family: 'Helvetica', serif;
  border-top: 1px solid white;
  padding-top: 10px;
}


.project-image-wrapper {
  height: auto;
  vertical-align: top;
  background-color: white;
}

.projects-content-wrapper {
  margin-bottom: 50px;
}

.project-title {
  font-size: 5vw;
  margin-bottom: 10px;
}

.project-image {
  width: 45vw;
  object-fit: cover;
  display: flex;
  border: 6px solid white;
}

.project-wrapper {
  margin: 4vh 6vw;
}

.project-bio-wrapper {
  padding: 0 2vw;
  display: flex;
  flex-direction: column;
  white-space: pre-line;
}

.project-links {
  align-self: flex-end;
  justify-self: flex-start;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-right: 5px;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 3px;

}

.bi-box-arrow-up-right,
.bi-github {
  width: 2vw;
  height: 2vw;
  margin-left: 2vw;
  transition: .2s;
}

.bi-box-arrow-up-right:hover,
.bi-github:hover {
  transition: .2s;
  transform: translate(-2px, -2px);
}


//* EXPERIENCE

.experience-section {
  flex-direction: column;
  background-color: white;
  color: black;
  align-items: center;
  z-index: 10;
  position: relative; 
}

.experience-wrapper {
  display: flex;
  margin: 5vh 0;
  width: 65%;
}

.experience-image-wrapper {
  height: auto;
  width: 30vw;
  margin: 13px 10vw 2px 0;
  display: flex;
  align-items: flex-start;
}

.experience-title {
  font-size: 4.5vw;
  margin-bottom: 5px;
  font-weight: normal;
  width: 100%;
}

h4, h5 {
  margin: 0;
}

.experience-role {
  font-size: 2vw;
  margin-bottom: 10px;
  width: 100%;
  font-weight: normal;
  white-space: pre-line;
}



.experience-list-header {
  font-weight: normal;
  margin: 0;
  font-size: 1.6vw;
  margin: 10px 0;
}

li {
  list-style: none;
}


.experience-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.surrey-uni-logo {
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}

.experience-content-wrapper {
  width: 100%;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.experience-info {
  font-size: 1.6vw;
  border-top: 1px solid black;
  padding: 10px 0;
  white-space: pre-line;
}

.experience-dates {
  font-size: 1.6vw;
  width: 100%;
  margin-bottom: 10px;
}

.clients-list {
  margin: 0;
  padding: 0;
  font-size: 1.6vw;
  font-weight: normal;
  width: 100%;
}


//* SKILLS

.skills-section {
  background-color: #e00484;
  color: white;
  z-index: 10;
  position: relative; 
}

.skills-content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.skills-list {
  font-size: 3vw;
  margin: 0 0 7vh;
  padding: 0;
}

.skills-list li {
  display: flex;
  justify-content: center;
}

//* EVENTS

.events-section {
  flex-direction: column;
  z-index: 10;
  position: relative; 
}

.event-image-wrapper {
  height: auto;
  margin: 2vw;
}

.event-content-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.event-image {
  width: 35vw;
  object-fit: cover;
}

.events-section {
  background-color: #A2A3A5;
  color: white;
}

.hiya-may-19 {
  justify-self: flex-end;
}


//* CONTACT

.contact-section {
  height: 100vh;
  flex-direction: column;
  z-index: 10;
  position: relative; 
  background-color: #5edf34;
  color: white;
}

.contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vw;
}

.contact-links a {
  color: white;
  font-size: 2.8vw;
  padding: 6vw;
}

.windows-image-wrapper {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-arrow-wrapper {
  display: flex;
  height: 100%;
}

.windows-image {
  height: 38vw;
  justify-self: flex-end;
  object-fit: cover;
}

.back-to-top-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.back-to-top {
  margin: 5vw;
  cursor: pointer;
}


.about-wrapper {
  width: 65%;
  display: flex;
  justify-content: center;
  margin-bottom: 6vw;
}

.about-text {
  font-size: 1.6vw;
  margin: 0 0 4vh;
  white-space: pre-line;
}