// $colorA: #4b4e53;
$colorA: black;
// $colorB: #fdf4e3;
$colorB: #F2E450;
$colorC: rgb(80, 134, 169);
$colorD: #D3E3FA;
$colorE: #50AAF3;

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: $colorB;
  font-family: 'Oranienbaum', serif;
  
}

main {
  // color: rgb(93, 90, 134);
  // color: black;
  color: $colorA;
}

.nav-bar {
  // font-size: 3.5vw;
  // width: 100%;
  display: flex;
  justify-content: flex-end;
  // height: 20vw;
  z-index: 1;
  width: 100%;
  margin: 0;
  // background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  // width: 100vw;
}

.nav-bar li {
  font-size: 30px;
  // font-size: 3rem;
  list-style: none;
  // border-bottom: 1px solid #405b7a;
  text-transform: capitalize;
  padding: 3px 15px 3px 3px;
  // font-weight: normal;
  // letter-spacing: .5vw;
  // display:inline-block;
  // transform:scale(1,1.6);
  // font-weight: 600;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  // padding: 10px 5px;
  // height: 100px;
}

// @media only screen and (max-width: 920px) {
//   .nav-bar li {
//     font-size: 33px;
//   }
// }

a {
  text-decoration: none;
  // color: rgb(93, 90, 134);
  // color: black;
  color: $colorA;
}

.home-button {
  position: fixed;
  left: 0;
}

.bi-emoji-smile-upside-down {
  font-size: 30px;
  margin: 5px 0 0 5px;
}

.projects-section,
.experience-section,
.events-section,
.contact-section,
.about-section {
  // height: 100vh;
  // font-size: 5vh;
  display: flex;
  // margin: 10px 0;
  // justify-content: center;
}



.events-section {
  // height: 100vh;
  // background-color: palegreen;
  flex-direction: column;
}

.contact-section {
  height: 200vh;
  flex-direction: column;
  // background-color: palegoldenrod;
}




//* TITLE PAGE

.about-section {
  // background-color: plum;
  // display: flex;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  // height: 80vh;
}

.title-wrapper {
  font-size: 100px;
  height: 100px;
  font-family: 'Cardo', serif;
  font-weight: normal;
  margin: 0;
  // font-family: 'Raleway', sans-serif;
  // letter-spacing: -.5vw;
  // transform:scale(1,2);
  // color: #fdf4e3;
  // background-color: #4b4e53;
}

.bio-wrapper {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: normal;
  // transform:scale(1,1.6);
  // color: #fdf4e3;
  // font-family: 'Raleway', sans-serif;
  font-family: 'Open Sans', sans-serif;
  // margin-top: 10px;
}

.about-section {
  // margin: 5vw;
  height: 100vh;
  flex-grow: 1;

  // border: 1px dashed green;
}

.title-section {
  flex-grow: 1;
  height: 100%;
  // border: 1px dotted red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  
}

.scroll-down-wrapper {
  // border: 1px dotted blue;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  // height: 100%;
}


.heading {
  text-transform: uppercase;
  // font-size: 8vw;
  margin-bottom: 6vw;
  margin-top: 1.5vh;
  width: 100vw;
  font-size: 100px;
  display: flex;
  justify-content: center;
}

//* Project Section

.projects-section {
  // height: 130vh;
  border-top: 3px solid $colorC;
  background-color: $colorE;
  flex-direction: column;
  font-family: 'Cardo', serif;
  // border: 1px dashed green;
  // height: 255vh;
  color: $colorA;
  color: white;
  // display: flex;
  // justify-content: center;
  // flex-direction: column;
}

.project-wrapper {
  // background-color: #fff6e4;
  display: flex;
  // flex-direction: column;
  // margin: 15px;
  // width: 70%;
}


.project-bio {
  font-size: 1.6vw;
  font-family: 'Raleway', sans-serif;
  border-top: 1px solid white;
  padding-top: 10px;
  // font-family: 'Oranienbaum', serif;
}


.project-image-wrapper {
  // height: auto;
  // width: 45vw;
  height: auto;
}

.projects-content-wrapper {
  margin-bottom: 50px;
}

.project-title {
  // text-transform: uppercase;
  font-size: 5vw;
  margin-bottom: 10px;
  // position: relative;
  // // top: 35px;
  // top: 35px;
  // left: 20px;
}

.project-image {
  width: 45vw;
  // height: 35vh;
  object-fit: cover;
  border: 6px solid white;
  // border: 18px solid white;
  // background-color: #f3d3e2;
  // filter: gray;
  // -webkit-filter: grayscale(100%);
  // transition: 1s;
  // opacity: 0;
}

.project-wrapper {
  margin: 4vh 6vw;
}

.project-bio-wrapper {
  padding: 0 2vw;
  display: flex;
  flex-direction: column;
}

.project-links {
  align-self: flex-end;
  justify-self: flex-start;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-right: 5px;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 3px;

}

.bi-box-arrow-up-right,
.bi-github {
  width: 2vw;
  height: 2vw;
  margin-left: 2vw;
}

// bi-github


// img:hover {
//   filter: none;
//   -webkit-filter: grayscale(0%);
//   transition: 0.7s;
// }

// .is-inview {
//   filter: none;
//   -webkit-filter: grayscale(0%);
//   transition: 3s;
//   opacity: 1;
// }


// .rickys-records-wrapper {
//   background-color: #f3d3e2;
// }

// .tetris-wrapper {
//   background-color: #abece1;
// }

// .cityspace-wrapper {
//   background-color: #E9D2CE;
// }

// .gorillazapp-wrapper {
//   background-color: #bfeb9e;
// }

//* Experience Section

.experience-section {
  // display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  border-top: 3px solid $colorC;
  align-items: center;
}

.experience-wrapper {
  display: flex;
  // justify-content: center;
  // margin: 7vh 0;
  // border: 3px dotted greenyellow;
  // flex-direction: column;
  margin: 5vh 0;
  width: 65%;
}

.experience-image-wrapper {
  height: auto;
  width: 30vw;
  margin: 13px 10vw 2px 0;
  display: flex;
  align-items: flex-start;
  // border: 2px dashed plum;
  // flex-grow: 1;
}

.experience-title {
  font-size: 4.5vw;
  margin-bottom: 5px;
  // border: 2px dotted red;
  font-weight: normal;
  width: 100%;
  // margin: 1vw 0;
}

h4, h5 {
  margin: 0;
}

.experience-role {
  font-size: 2vw;
  margin-bottom: 10px;
  width: 100%;
  // border: 2px dotted red;
  font-weight: normal;
  // margin: 1vw 0;
}

.experience-list-header {
  font-weight: normal;
  margin: 0;
  font-size: 1.6vw;
  margin: 10px 0;
}

li {
  list-style: none;
  
}



.experience-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.surrey-uni-logo {
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}

.experience-content-wrapper {
  width: 100vw;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.experience-info {
  font-size: 1.6vw;
  font-family: 'Raleway', sans-serif;
  border-top: 1px solid black;
  padding: 10px 0;
  white-space: pre-line;
}

.clients-list {
  margin: 0;
  padding: 0;
  font-size: 1.6vw;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  width: 100%;
}



//* Events

.event-image-wrapper {
  height: auto;
  // width: 20vw;
  margin: 2vw;
  // display: flex;
}

.event-content-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  // width: 70%;
}

.event-image {
  width: 35vw;
  object-fit: cover;
  // border: 4px solid white;
}

.events-section {
  background-color: #70ED48;
  color: white;
  border-top: 3px solid #4bc422;
  // margin-bottom: 50px;
}

.hiya-may-19 {
  // margin-bottom: 50px;xt
  justify-self: flex-end;
}

//* Contact Section

