// $colorA: #4b4e53;
$colorA: black;
// $colorB: #fdf4e3;
// $colorB: #F2E450;
$colorB: #f5e41b;
$colorC: rgb(80, 134, 169);
$colorD: #D3E3FA;
$colorE: #50AAF3;

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: $colorB;
  // font-family: 'Oranienbaum', serif;
  font-family: 'Helvetica', serif;
  
}

main {
  // color: rgb(93, 90, 134);
  // color: black;
  color: $colorA;
}

//* NAVBAR

.nav-bar {
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  // filter: hue-rotate(60deg);
  color: black;
  // mix-blend-mode: difference;
}

.nav-bar li {
  font-size: 30px;
  list-style: none;
  text-transform: capitalize;
  padding: 3px 15px 3px 3px;
  // letter-spacing: .5vw;
  // transform:scale(1,1.5);
  // font-weight: 600;
  text-decoration: none;
  // font-family: 'Raleway', sans-serif;
  font-family: 'Helvetica', serif;
  color: black;
}

// @media only screen and (max-width: 920px) {
//   .nav-bar li {
//     font-size: 33px;
//   }
// }

a {
  text-decoration: none;
}

li a {
  color: inherit;
}

.home-button {
  position: fixed;
  left: 0;
}

.bi-emoji-smile-upside-down {
  font-size: 30px;
  margin: 5px 0 0 5px;
}

.projects-section,
.experience-section,
.events-section,
.contact-section,
.about-section {
  display: flex;
}


.section-divider {
  // border: 6px solid black;
  height: 6px;
  background-color: black;
  margin: 0;
}

.section-divider-white {
  height: 6px;
  background-color: white;
  margin: 0;
}



//* TITLE PAGE

.about-section {
  // background-color: plum;
  // display: flex;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  // height: 80vh;
}

.title-wrapper {
  font-size: 100px;
  height: 100px;
  // font-family: 'Cardo', serif;
  font-family: 'Helvetica', serif;
  font-weight: normal;
  // margin: 0;
  // font-family: 'Raleway', sans-serif;
  // letter-spacing: -.5vw;
  // transform:scale(1,2);
  // color: #fdf4e3;
  // background-color: #4b4e53;
}

.bio-wrapper {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: normal;
  // transform:scale(1,1.6);
  // color: #fdf4e3;
  // font-family: 'Raleway', sans-serif;
  // font-family: 'Open Sans', sans-serif;
  font-family: 'Helvetica', serif;
  // margin-top: 10px;
}

.about-section {
  height: 100vh;
  flex-grow: 1;
}

.title-section {
  // flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  
}

h1 {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-left: -0.09em;
  // margin: -5px;
}

.scroll-down-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}


.heading {
  text-transform: uppercase;
  // font-size: 8vw;
  margin-bottom: 6vw;
  // margin-top: 2.2vh;
  width: 100vw;
  font-size: 100px;
  display: flex;
  justify-content: center;
  padding: 2.3vh;
}

//* PROJECTS

.projects-section {
  // border-top: 6px solid black;
  background-color: $colorE;
  flex-direction: column;
  font-family: 'Helvetica', serif;
  // color: $colorA;
  color: white;
}

.project-wrapper {
  display: flex;
}


.project-bio {
  font-size: 1.6vw;
  // font-family: 'Raleway', sans-serif;
  font-family: 'Helvetica', serif;
  border-top: 1px solid white;
  padding-top: 10px;
}


.project-image-wrapper {
  height: auto;
  background-color: white;
}

.projects-content-wrapper {
  margin-bottom: 50px;
}

.project-title {
  font-size: 5vw;
  margin-bottom: 10px;
}

.project-image {
  width: 45vw;
  // height: 35vh;
  object-fit: cover;
  border: 6px solid white;
  // border: 18px solid white;
  // background-color: #f3d3e2;
  // filter: gray;
  // -webkit-filter: grayscale(100%);
  // transition: 1s;
  // opacity: 0;
}

.project-wrapper {
  margin: 4vh 6vw;
}

.project-bio-wrapper {
  padding: 0 2vw;
  display: flex;
  flex-direction: column;
}

.project-links {
  align-self: flex-end;
  justify-self: flex-start;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-right: 5px;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 3px;

}

.bi-box-arrow-up-right,
.bi-github {
  width: 2vw;
  height: 2vw;
  margin-left: 2vw;
}


// img:hover {
//   filter: none;
//   -webkit-filter: grayscale(0%);
//   transition: 0.7s;
// }

// .is-inview {
//   filter: none;
//   -webkit-filter: grayscale(0%);
//   transition: 3s;
//   opacity: 1;
// }

//* EXPERIENCE

.experience-section {
  flex-direction: column;
  background-color: white;
  color: black;
  // border-top: 3px solid $colorC;
  // border-top: 6px solid black;
  align-items: center;
}

.experience-wrapper {
  display: flex;
  margin: 5vh 0;
  width: 65%;
}

.experience-image-wrapper {
  height: auto;
  width: 30vw;
  margin: 13px 10vw 2px 0;
  display: flex;
  align-items: flex-start;
}

.experience-title {
  font-size: 4.5vw;
  margin-bottom: 5px;
  font-weight: normal;
  width: 100%;
}

h4, h5 {
  margin: 0;
}

.experience-role {
  font-size: 2vw;
  margin-bottom: 10px;
  width: 100%;
  // border: 2px dotted red;
  font-weight: normal;
  // margin: 1vw 0;
}

.experience-list-header {
  font-weight: normal;
  margin: 0;
  font-size: 1.6vw;
  margin: 10px 0;
}

li {
  list-style: none;
  
}



.experience-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.surrey-uni-logo {
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}

.experience-content-wrapper {
  width: 100vw;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.experience-info {
  font-size: 1.6vw;
  // font-family: 'Raleway', sans-serif;
  border-top: 1px solid black;
  padding: 10px 0;
  white-space: pre-line;
}

.clients-list {
  margin: 0;
  padding: 0;
  font-size: 1.6vw;
  // font-family: 'Raleway', sans-serif;
  font-weight: normal;
  width: 100%;
}


//* SKILLS

.skills-section {
  // border-top: 6px solid black;
  background-color: #e00484;
  // height: 100vh;
  color: white;
}

.skills-content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.skills-list {
  font-size: 3vw;
  margin: 0 0 7vh;
  padding: 0;
}

.skills-list li {
  display: flex;
  justify-content: center;
}

//* EVENTS

.events-section {
  flex-direction: column;
}

.event-image-wrapper {
  height: auto;
  // width: 20vw;
  margin: 2vw;
  // display: flex;
}

.event-content-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.event-image {
  width: 35vw;
  object-fit: cover;
  // border: 6px solid white;
}

.events-section {
  background-color: #A2A3A5;
  color: white;
  // border-top: 6px solid white;
}

.hiya-may-19 {
  justify-self: flex-end;
}


//* CONTACT

.contact-section {
  height: 101vh;
  flex-direction: column;

  // border-top: 3px solid #cecece;

  background-color: #70ED48;
  color: white;
  // border-top: 6px solid white;
}

.contact-links {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin-top: 15px;
}

.contact-links a {
  color: white;
  font-size: 2.8vw;
  // font-family: 'Raleway', sans-serif;
  padding: 3vw;
}

.windows-image-wrapper {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-arrow-wrapper {
  display: flex;
  height: 100%;
  // bottom: 0;
  // margin: 3vw;
}

.windows-image {
  height: 38vw;
  justify-self: flex-end;
  // height: 35vh;
  object-fit: cover;
}

.back-to-top-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-to-top {
  margin: 5vw;
}