html, body {
  background-color: #151210;
  font-family: 'Cardo', serif;
}

main {
  color: aliceblue;
}

a {
  color: aliceblue;
}

.links {
  display: flex;
}

a,
.bio,
h1 {
  padding: 10px 5px;
}

h1 {
  font-size: 50px;
}